In [5]:
# Heroes of Pymoli Data Analysis

# The Combined Age Group of '15-19' and '20-24' encompasses 66.32% of all players.
# The Age Group of '20-24' represents 40.28% of all purchases.
# Those who can run for a Senate Seat (Age 35 is eligibility) makeup 5.76% of all players.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_path, encoding="utf-8")
purchase_df.head()

## Player Count

* Display the total number of players

In [16]:
#purchase_df = pandas.read_csv('purchase_data.csv', header=None)
sntotal = purchase_df.drop_duplicates(['SN'], keep='first')

#Create a Data Frame for Player Count
player_count = len(purchase_df["SN"].unique())
player_count = pd.DataFrame({"Total Players":[player_count]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#calculate the number of unique items
item_count = len(purchase_df["Item Name"].unique())

#Average Purchase Price
average_price = purchase_df["Price"].mean()

#Number of Items Purchased
purchase_num = len(purchase_df["Item Name"])

#Total Revenue
total_revenue = purchase_df["Price"].sum()

In [18]:
#Create New Data Frame - Summary Data Frame for Purchasing Analysis Total
Purchasing_Analysis = pd.DataFrame({
                              "Unique Items": [item_count],
                              "Average Price": [average_price],
                              "Number of Purchases": [purchase_num],
                              "Total Revenue": [total_revenue]})
#Data Frame Formatting
Purchasing_Analysis = Purchasing_Analysis[["Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
Purchasing_Analysis

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [39]:
#Gender Demographics
#Count of Gender - Reviewed with Learning Assistant
genderttl = sntotal['Gender'].value_counts()

#Gender Demographic DataFrame
genderttl = pd.DataFrame(genderttl)

#Percentage of Players
genderttl['Percentage of Players'] = genderttl['Gender'] / len(sntotal)

#Format Columns
genderttl = genderttl[['Percentage of Players', 'Gender']]
genderttl = genderttl.rename(columns={'Gender':'Total Count'})

#Percentage
genderttl['Percentage of Players'] = genderttl['Percentage of Players'].map('{:.2%}'.format)

genderttl

                      Percentage of Players  Total Count
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
#Groupby Gender
genderprc = purchase_df.groupby(['Gender'])

#Purchase Count
genderprctl = genderprc['Price'].count()

#Average Price of Purchase
genderavprc = genderprc['Price'].mean()

#Total Purchase Price
genderpurprc = genderprc['Price'].sum()

#Revision of Total Number of Users (Per Review with Learning Assistant)
trueplayers = genderpurprc/genderttl['Total Count']



#DataFrame for Purchasing Analysis by Gender

genderprc = pd.DataFrame({
                              "Purchase Count": genderprctl,
                              "Average Purchase Price": genderavprc,
                              "Total Purchase Value": genderpurprc,
                              "Average Purchase Total": trueplayers})
                              
genderprc

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [71]:
#Establish Bins for Ages and Categorize Players Using Age Bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

#Group Names
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
               
#Cut Data Set Per Hint
sntotal['Age Group'] = pd.cut(sntotal.loc[:,"Age"], bins, labels=group_names)

#Group By Age Group
agegroup = sntotal.groupby("Age Group")

#Create DataFrame for Age 
agegroupval = agegroup['SN'].count()

#Create DataFrame for Age Group
agegroup = pd.DataFrame({'Player Count':agegroupval})

#Percentage Calculation of Players
agegroup['Percentage of Players'] = agegroup['Player Count']/len(sntotal)

#Output (Index per Panda Documentation Review)
agegroup.index.names = ['Age']
agegroup['Percentage of Players'] = agegroup['Percentage of Players'].map('{:.2%}'.format)

#Show Results
agegroup

C:\Users\Gentile\anacondafldr\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Player Count Percentage of Players
Age
<10              24                 4.17%
10-14            41                 7.12%
15-19           150                26.04%
20-24           232                40.28%
25-29            59                10.24%
30-34            37                 6.42%
35-39            26                 4.51%
40+               7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
#Establish Purchase Analysis by Age
agepurchase = sntotal.groupby("Age Group")

#Purchase Count by Age
agepurchcnt = agepurchase['Price'].count()

#Average Price of Purchase by Age
agepurcavg = agepurchase['Price'].mean()

#Total Purchase Price by Age
agepurcttl = agepurchase['Price'].sum()

#Revision of Total Number of Users by Age
ageplyrpur = agepurcttl/agegroup['Player Count']

#DataFrame for Purchasing Analysis by Age

agepurchase = pd.DataFrame({
                              "Purchase Count": agepurchcnt,
                              "Average Purchase Price": agepurcavg,
                              "Total Purchase Value": agepurcttl,
                              "Average Purchase Total": ageplyrpur})
                              
agepurchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Age Group,,,,
<10,24,3.424167,82.18,3.424167
10-14,41,2.937317,120.43,2.937317
15-19,150,3.178933,476.84,3.178933
20-24,232,3.017371,700.03,3.017371
25-29,59,2.898644,171.02,2.898644
30-34,37,3.004054,111.15,3.004054
35-39,26,3.287308,85.47,3.287308
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [83]:
#Establish Purchase Analysis for Top Spenders
topspender = purchase_df.groupby(['SN'])

#Purchase Count for Top Spenders
topspendercnt = topspender['Item ID'].count()

#Average Price of Purchase for Top Spenders
topspenderavg = topspender['Price'].mean()

#Total Purchase Price by Age
topspenderttl = topspender['Price'].sum()

topspender = pd.DataFrame({
                              "Purchase Count": topspendercnt,
                              "Average Purchase Price": topspenderavg,
                              "Total Purchase Value": topspenderttl})

#Ascending by Total Purchase Value
topspender = topspender.sort_values(['Total Purchase Value'],ascending=False)

topspender.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
#Retrieve Item ID, Item Name, Item Price
mostpopitem = purchase_df.groupby(['Item ID','Item Name'])

#Most Popular Items
popitemcnt = mostpopitem['Item ID'].count()

#Average Price of Purchase for Top Spenders
popitemavg = mostpopitem['Price'].mean()

#Total Purchase Price by Age
popitemttl = mostpopitem['Price'].sum()

mostpopitem = pd.DataFrame({
                              "Purchase Count": popitemcnt,
                              "Average Purchase Price": popitemavg,
                              "Total Purchase Value": popitemttl})

#Ascending by Total Purchase Value
mostpopitem = mostpopitem.sort_values(['Purchase Count'],ascending=False)

mostpopitem.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
82,Nirvana,9,4.900000,44.10
75,Brutality Ivory Warmace,8,2.420000,19.36
103,Singed Scalpel,8,4.350000,34.80
34,Retribution Axe,8,2.220000,17.76
37,"Shadow Strike, Glory of Ending Hope",8,3.160000,25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
#Retrieve Item ID, Item Name, Item Price
mostpopitem = purchase_df.groupby(['Item ID','Item Name'])

#Most Popular Items
popitemcnt = mostpopitem['Item ID'].count()

#Average Price of Purchase for Top Spenders
popitemavg = mostpopitem['Price'].mean()

#Total Purchase Price by Age
popitemttl = mostpopitem['Price'].sum()

mostpopitem = pd.DataFrame({
                              "Purchase Count": popitemcnt,
                              "Average Purchase Price": popitemavg,
                              "Total Purchase Value": popitemttl})

#Ascending by Total Purchase Value
mostpopitem = mostpopitem.sort_values(['Total Purchase Value'],ascending=False)

mostpopitem.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
59,"Lightning, Etcher of the King",8,4.230000,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
78,"Glimmer, Ender of the Moon",7,4.400000,30.80
72,Winter's Bite,8,3.770000,30.16
132,Persuasion,9,3.221111,28.99